* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: black;
}

.about h1 {
  color: darkcyan;
  font-size: 25px;
}

.skills h3 {
  color: darkcyan;
  font-size: 18px;
}

.projects h1{
  color: darkcyan;
  font-size: 25px;
}

.rounded-photo {
  border-radius: 10%;
}

.corLinks {
  color: rgb(48, 121, 150);
  text-decoration: none;
}
