body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: white;
}

#group {
  display: flex;
  margin-bottom: 10px
}

.link {
  color: rgb(48, 121, 150);
  text-decoration: none
}

#about {
  padding: 25px;
  width: 20%;
  background-color: #f5f5f5;
}

#main-about {
  padding-bottom: 20px;
}

#main-about h1 {
  color: darkcyan;
  font-size: 25px;
}

#photo-about {
  border-radius: 10%;
}

#skills {
  padding-bottom: 20px;
}

#skills h2 {
  color: darkcyan;
  font-size: 18px;
}

#skills li { 
  list-style-type: square;
  margin-left: -23px;
  line-height: 23px;
}

#my-links {
  line-height: 30px;
}

#projects {
  padding: 25px;
  width: 80%;
  margin-left: 5px;
  margin-right: 5px;
}

#title-projects h1 {
  color: darkcyan;
  font-size: 25px;
  text-align: center;
}

#project1, #project2 {
  margin-bottom: 20px;
}

#project1, #project2 p {
  color: darkcyan;
}

#nav {
  width: 10%;
  padding: 20px;
  position: fixed;
  left: 85%;
}

#nav ul {
  padding: 20px;
}

#nav h2 {
  font-size: 20px;
}

#nav li {
  list-style-type: none;
  line-height: 25px;
}

#footer {
  padding: 10px;
}

#footer {
  padding-top: 50px;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
}